<div class="main_component" fxFlex fxLayout="column">
    <div fxLayout="row" *ngIf="advertisements.length">
        <div class="flex-inside">
            <div *ngFor="let advertisement of pageSlice;" class="flex-item">
                <mat-card fxLayout="column" fxLayoutGap="20px">
                    <span>
                        <mat-card-header>
                            <mat-card-title>
                                <span>{{ advertisement.title }}</span>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="{{ advertisement.index_image }}">
                            <div class="flex-inside">
                                <div class="flex-item" fxLayout="row" fxLayoutGap="20px">
                                    <h2>Price: </h2><span style="text-align: center; padding-top: 8px !important;">{{ advertisement.price | numberFormat }}  {{ advertisement.valuta }}</span>
                                    <h2>Size: </h2><span style="text-align: center; padding-top: 5px !important;">{{ advertisement.size }} m<sup>2</sup></span>
                                </div>
                                <div class="flex-item" fxLayout="row" fxLayoutGap="20px">
                                    <h2>Location: </h2><span style="text-align: center; padding-top: 9px !important;">{{ advertisement.location }}</span>
                                </div>
                            </div>
                            <div class="flex-inside" style="height: 100px;">
                                <div class="flex-item" fxLayout="column" style="width: 100%; padding-left: 13px;">
                                    <h2 style="text-align: left;">Contacts:</h2>
                                    <div fxLayout="row" fxLayoutGap="20px">
                                        <h3>Email: </h3><span style="text-align: center; padding-top: 5px !important;">{{ advertisement.contacts.email }}</span>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="20px">
                                        <h3>Phone: </h3><span style="text-align: center; padding-top: 5px !important;">{{ advertisement.contacts.phonenumber }}</span>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </span>
                    <span>
                        <mat-card-actions style="float: right;">
                            <a mat-raised-button type="button" value="Modify" routerLink="/mod-advert" (click)="onModifyClick(advertisement)">Modify</a>
                            <button mat-raised-button color="warn" type="button" (click)="onDeleteClick(advertisement.id)">Delete</button>
                        </mat-card-actions>
                    </span>
                </mat-card>
            </div>
        </div>
    </div>
    <mat-paginator [length]="this.advertisements.length" [pageSize]="8" [pageSizeOptions]="[2, 4, 8]" (page)="OnPageChange($event)">

    </mat-paginator>
</div>