<mat-sidenav-container>
    <mat-sidenav #sidenav position="end">
      <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div>REAL ESTATE</div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLink="/real-estates">Real Estates</a></li>
            <li *ngIf="loggedInUser"><a routerLink="/advertise">Advertise</a></li>
            <li *ngIf="loggedInUser"><a routerLink="/myadvertisements">My Advertisements</a></li>
            <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
            <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
            <li *ngIf="!(loggedInUser)"><a routerLink="/signup">Register</a></li>
          </ul>
        </div>
        <div fxHide.gt-xs fxFlex fxLayout fxLayoutAlign="flex-end">
          <button mat-icon-button (click)="onToggleSidenav(sidenav)">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>